<div class="container-fluid mt-4" *ngFor='let institution of institutions'>
    <div class="row d-flex justify-content-between">
        <!--CONTENEDOR IZQUIERDA-->
        <div class="col-7">
            <div class="cont">
                <div class="contImg" style="background-image: url({{institution.image}});"></div>
                <div class="pl-4 pr-4 pt-2">
                    <div class="d-flex justify-content-between">
                        <h2 class="nameInst">{{institution.name}}</h2>
                        <p class="align-items-center">{{institution.location}}</p>
                    </div>
                    <div>
                        <p>{{institution.presentation}}</p>   
                        <p> <i class="fas fa-shopping-bag"></i> X {{institution.collected}} recibidos
                            <ng-template [ngIf]="!institution.collected">
                                <span class="badge badge-warning">New</span>
                            </ng-template>
                        </p>
                    </div>
                    <app-dropdown-item [message]="institution.description" [links]="institution.links"></app-dropdown-item>
                </div>
            </div>
        </div>
        <!--CONTENEDOR DERECHA-->
        <div class="col-5">
            <div class="cont pt-4 pr-4 pl-4 pb-4">
                <h5>¡Ayudame con un bolsón!</h5>
                <div class="d-flex align-items-center mt-3">
                    <span><i class="fas fa-shopping-bag bag mr-3 text-danger"></i> X</span>
                    <app-input-integer 
                        [(quantity)]="institution.quantity"
                    >
                    </app-input-integer>
                </div>
                <div class="pt-3">
                    <button class="btn btn-sm btn-block btn-danger" (click)="addToTruck(institution)">Agregar al camión (
                        <span>ARS ${{institution.price * institution.quantity}} )</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

