<div class="container-fluid" *ngFor='let institution of institutions'>
    <div class="row border border-dark rounded mt-2 d-flex justify-content-between">
        <!--CONTENEDOR IZQUIERDA-->
        <div class="col-9">
            <div>
                <img src="{{institution.image}}" alt="{{institution.name}}">
            </div>
            <div class="d-flex justify-content-between">
                <h2>{{institution.name}}</h2>
                <p>{{institution.location | uppercase}}</p>
            </div>
            <div>
                <p>{{institution.presentation}}</p>   
            </div>
            <div>
                <p>{{institution.description}}</p>
                <ul class="nav" >
                    <li class="nav-item" *ngFor='let link of institution.links'>
                        <a class="nav-link active" href="{{link}}">{{link}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--CONTENEDOR DERECHA-->
        <div class="col-3">
            <!-- RECOLECTADO  -->
            <p>Recolectado: {{institution.collected | currency}}</p>
            <!--ELEMENTO SUMAR Y RESTAR-->
            <div class="d-flex">
                <span class="mr-2">Cantidad:</span>
                <button class="btn btn-sm btn-info buttonLeft" (click)="downQuantity(institution)">-</button>
                <input 
                    type="text" 
                    [(ngModel)]="institution.quantity"
                    (keyup)="onChangeQuantity($event, institution)"
                >
                <button class="btn btn-sm btn-info buttonRight" (click)="upQuantity(institution)">+</button>
            </div>
        </div>
    </div>
</div>
