<nav class="navbar navbar-expand-lg navbar-light static-top mt-2">
  <div class="container">
    <a class="navbar-brand mr-0 contLogo" [routerLink]="['/']">
      <img
      class="logo"
      src="\assets\logo.svg"
      alt="logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/explore']">Explorar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="container"> 
  <footer class="mt-5">
    <div class="container">
      <!-- Social buttons -->
      <ul class="text-center pl-0 socialNet">
        <li class="list-inline-item">
          <a class="mx-2">
            <i class="fab fa-facebook-f"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="mx-2">
            <i class="fab fa-instagram"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="mx-2">
            <i class="fab fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="mx-2">
            <i class="fab fa-linkedin-in"> </i>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-copyright text-center py-3">
      <p>© 2020 Aportar by Joaquin Loiza</p>
    </div> 
  </footer>
</div>
