.fas {
    font-size: 2.8rem;
}

a {
    font-size: 1.8rem;
    -webkit-box-shadow: 6px 9px 16px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 6px 9px 16px 0px rgba(0,0,0,0.44);
    box-shadow: 6px 9px 16px 0px rgba(0,0,0,0.44);           
}

.imgTruck {
    width: 100%;
}